# Dependencies
/node_modules

# Build output
/build
.docusaurus

# VitePress
.vitepress/dist
.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/cache

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
